extends layout

block title
  = "shmile"

block content
  section#viewport
    button#start-button.awesome.superlarge.boinkyellow Start
  #snackbar.alert.alert-info.alert-dismissable.fade.in
       a.close(href="#", data-dismiss="alert", aria-label="close", onClick="window.snackbar.pressed();") Do you like what you see? Print it! Click me!!
